@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(251, 251, 251);
    /* background-color: rgb(243, 243, 243); */
}




.slider {
        height: 100px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: auto;
}

.slider .slide-track {
        animation: scroll 40s linear infinite;
        display: flex;
        width: calc(200px * 7);
}

.slider .slide img{
        object-fit: contain;
        height: 200px;
        width: 200px;
}


@keyframes scroll {
        0% {
                transform: translateX(0);
        }

        100% {
                transform: translateX(calc(-250px * 7));
        }
}









.bg_video_container{
        position: relative;
}

.bg_video{
        position: relative;
        width: 100%;
        height: 100vh;
        object-fit: cover;
}
.bg_video::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 0, 0, 0.4);
        z-index: -1;
}

.bg_video_container .bg_video_content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 9999;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: start;
        align-items: center;
}


.content_info{
        margin: 0 auto;
        font-size: 5rem;
        font-weight: 900;
        max-width: 1024px;
}







.circle-shape-1 img {
        width: 480px;
        border-radius: 24%;
}


.circle-shape-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        width: 550px;
        height: 450px;
        z-index: -1;
        border-radius: 850.226px 797.379px 831.666px 804.283px;
        animation: wave 5s linear infinite;
        box-shadow: 0px 1px 10px 0px rgba(197, 195, 195, 0.2);
}

@keyframes wave {
        20% {
                border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
        }

        40% {
                border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
        }

        60% {
                border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
        }

        80% {
                border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
        }
}





.flicker {
        font-size: 6rem;
        margin: 1rem auto;
        color: #ffffff;
        background: -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#1d1c1c), color-stop(0.8, #ffffff)) no-repeat;
        background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.8, #fff)) no-repeat;
        background-size: 110px 100%;
        -webkit-background-clip: text;
        background-clip: text;
        animation: flick 1.5s infinite;
        transition: all 10s ease-in-out;
}

@keyframes flick {
        0% {
                background-position: top left;
        }

        100% {
                background-position: top right;
        }
}